<!DOCTYPE html>
<html>
<head>
  <title>Hurgle Gurgle BLAGHALUGAG HULBAGHAG</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>

    <meta property="og:site_name" content="Jerkcity As A Service" />
    <meta property="og:title" content="jerkcity As a Service"/>
    <meta property="author" content="Fatty Crabcakes" />
    <meta property="og:image"             content="https://jcaas.herokuapp.com/images/header.png" />
     <meta property="og:image:width"       content="658" />
     <meta property="og:image:height"      content="431" />
</head>
<body>

<%= yield %>

</body>
</html>
